.filter {
    display: block;
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}

.filter.select {
    text-decoration: none;
    color: black;
}

.filter-saved-wrapper.is-selected {
    background: #e8ddf9;
}

.filter-action {
    display: none;
}

.filter-saved-wrapper.is-selected .filter-action {
    display: inline-block;
    text-decoration: underline;
    color: blue;
    font-size: 14px;
    margin-right: 7px;
    cursor: pointer;
}

.filter-wrapper-helper {
    margin-left: 25px;
}
