*
    font-family "Proxima Nova"
.search-form
  display flex
  width 100%
  justify-content center
  button
    margin-left: 10px
.content
  display flex

.hidden-btn
  opacity 0
  visibility hidden

.list-container
  display flex
  flex-wrap wrap
.list-item
  margin 0
  list-style none
  flex-basis 32%
  margin-right 1%
  figure
   margin 0

@import "blocks/*"
