*
    font-family "Proxima Nova"
form
  display flex
  width 100%
  justify-content center

.content
  display flex

.hidden-btn
  opacity 0
  visibility hidden

.list-container
  display flex
  flex-wrap wrap

li
  list-style none
  flex-basis 32%
  margin-right 1%

@import "blocks/*"
