* {
  font-family: "Proxima Nova";
}
.search-form {
  display: flex;
  width: 100%;
  justify-content: center;
}
.search-form button {
  margin-left: 10px;
}
.content {
  display: flex;
}
.hidden-btn {
  opacity: 0;
  visibility: hidden;
}
.list-container {
  display: flex;
  flex-wrap: wrap;
}
.list-item {
  margin: 0;
  list-style: none;
  flex-basis: 32%;
  margin-right: 1%;
}
.list-item figure {
  margin: 0;
}
.app {
  max-width: 960px;
  margin: 0 auto;
}
.search-form {
  margin-top: 30px;
}
@media only screen and (max-width: 650px) {
  .search-form {
    display: none;
  }
}
