.search-form
    h1 search form
 ul.list-container
      li.list-item
            figure
            h3 Lorem ipsum dolor sit
            p
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa amet pariatur quam, fugiat quos doloremque ipsam similique totam autem laboriosam.